td.wall {
	background-color: #080;
}
td {
	background-color: #fff;
	color: black;
}
td.wall.foggy {
	background-color: #040;
}
td.foggy {
	background-color: #888;
	color: white;
}

table.graph, div.scoreBox {
	float: left;
}
