<!DOCTYPE html>
<html id="home">
	<head>
		<title>Crow TestRunner</title>
		<link type="text/css" rel="stylesheet" href="/test_runner.css">
	</head>
	<body>

<h1>Crow TestRunner<span class="subtitle">Max Aller &lt;nanodeath@gmail.com&gt;<br>http://github.com/nanodeath/CrowLib</span></h1>
<div id="content"
	<p>Welcome to the test runner for Crow.  Please choose an option below.</p>
	<h2><span>Run tests</span></h2>
	<div id="tests">
		Gathering tests...
	</div>
	<h2><span>Other Pages</span></h2>
	<div id="other_pages">
		<ul>
			<li><a href="/benchmark">Benchmarks</a></li>
<% if @docs_exist %>
			<li>
				JSDocumentation
				<ul>
					<li>
						<a href="/docs/index.html">public API</a>
					</li>
					<li>
						<a href="/docs_private/index.html">public and private API</a>
					</li>
				</ul>
			</li>
<% else %>
			<li>Docs not generated!</li>
<% end %>
		</ul>
	</div>
	<h2><span>Controls</span></h2>
	<div id="controls">
		<input class="recompile" type="button" value="Recompile and Reload"/>
	</div>
	<div id="feedback"></div>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="/<%= @test_js %>"></script>
<script type="text/javascript" src="/test_runner.js"></script>
<script>
	if(test){
		var list = $("<ul>");
		for(var i in test){
			list.append("<li><a href='/test/" + i + "'>" + i + "</a></li>");
		}
		$("#tests").replaceWith(list);
	} else {
		$("div").text("An error occurred!  Check the terminal...");
	}
</script>

	</body>
</html>
