#feedback {
	margin: 1em;
}

#backToIndex {
	margin-top: 1em;
}

/* Home page */

#home {
	color: #333;
	font-family: sans-serif;
}
#home body {
	padding-left: 2em;
}

#home h1 {
	font-size: 5em;
	color: #ccc;
	text-align: right;
}
#home h1 .subtitle {
	display: block;
	font-size: 0.15em;
	font-style: italic;
}

#home body {
	width: 55em;
}

#home h2 {
	font-size: 2em;
	color: #ccc;
	margin-bottom: 0.5em;
	margin-top: 1em;
}

#home h1, #home h2 {
	color: #ccc;
}
#home h1 span:hover, #home h2 span:hover {
	color: #bbb;
}

#home ul {
	margin-top: 0;
	margin-bottom: 0;
}


#home #content {
	padding-left: 2em;
}

/* Test page */

table.graph td {
	height: 50px;
	border:1px solid black;
	width: 50px;
	padding: 0;
	vertical-align: top;
}
table.graph div {
	position: relative;
}

table.graph td canvas {
	position: absolute;
	left: 5px;
	top: 5px;
}
table.graph {
	border-spacing: 0;
	border-collapse: collapse;
}

table.graph canvas {
	margin: 0;
}

.clear {
	clear: both;
}

table.latest_commits {
	width: 1024px;
}

table.latest_commits .sha1 {
	font-family: monospace;
}

table.latest_commits .sha1_remaining {
	color: #aaa;
}

table.lpa{
	border: 1px solid black;
	text-align: center;
}
table.lpa td {
	border: 1px solid gray;
	padding: 2px;
	width: 50px;
	height: 50px;
}
table.lpa td.inconsistent {
	background-color: #888;
}
table.lpa td.noNode {
	background-color: #111;
}
